This notebook is for testing the application. Read the comments. You can play around with it. 

Make sure to have your api key and your model name configured in `services/config/personal_constants.py`

In [1]:
# importing the class from a different file
from services.querier.querier import DbQuerier

# instantiating the class
test_querier = DbQuerier(sample_db_loc='data/PostNL_SQLite.sqlite')

# do some configurations
test_querier.remove_all_training_data() # if there was any, now there is not
test_querier.train_model(train_on_documentation=True, 
                         train_on_ddl=True, 
                         train_on_sql=True, 
                         train_on_question_sql_pairs=True)

Adding documentation....
Adding documentation....
Adding documentation....
INFO:root:Trained model on documentation files
INFO:root:trained model on sql queries
Adding ddl: CREATE TABLE collo_packages (
	id INTEGER NOT NULL,
	account_id_hashed VARCHAR,
	dn_barcode VARCHAR,
	da_datum_voormelding DATE,
	da_datum_acceptatie DATE,
	da_tijd_acceptatie TIME,
	sa_dag_sortering1 DATE,
	sa_datum_sortering1 DATE,
	sa_tijd_sortering1 TIME,
	sa_datum_distributiecollectie DATE,
	sa_tijd_distributiecollectie TIME,
	da_datum_herroutering_voor_up1 DATE,
	da_tijd_herroutering_voor_up1 TIME,
	da_datum_eindstatus DATE,
	da_tijd_eindstatus TIME,
	ma_gewicht INTEGER,
	ma_breedte INTEGER,
	ma_lengte INTEGER,
	ma_hoogte INTEGER,
	ma_volume INTEGER,
	"PC4_gea" INTEGER,
	da_landcode_gea VARCHAR,
	da_resultaatgroepcode VARCHAR,
	da_resultaatcode VARCHAR,
	da_type_adres_gea VARCHAR,
	da_waarnemingsequence VARCHAR,
	PRIMARY KEY (id),
	FOREIGN KEY(account_id_hashed) REFERENCES delivery_preference (account_id_hashed)
)
Adding ddl: CREATE TABLE delivery_facts (
	id INTEGER NOT NULL,
	account_id_hashed VARCHAR,
	month_id INTEGER,
	number_of_parcels INTEGER,
	parcels_home_1st INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(account_id_hashed) REFERENCES delivery_preference (account_id_hashed)
)
Adding ddl: CREATE TABLE delivery_preference (
	account_id_hashed VARCHAR NOT NULL,
	deliverypreference VARCHAR,
	datelastupdated DATETIME,
	datecreated DATETIME,
	PRIMARY KEY (account_id_hashed)
)
INFO:root:trained model on ddl
INFO:root:Trained on question-sql pairs.
INFO:root:training model on all types of data finished

In [2]:
# showing the training data that is in the model
test_querier.training_data

,id,training_data_type,question,content
0,210035-sql,sql,Wat is het gemiddelde aantal pakketten per kla...,SELECT AVG(number_of_parcels) FROM delivery_fa...
1,255244-doc,documentation,None,De 'delivery_facts' tabel bevat geaggregeerde ...
2,210036-sql,sql,Hoeveel klanten hebben precies 3 pakketten in ...,SELECT COUNT(*) FROM delivery_facts WHERE numb...
3,210038-sql,sql,Hoeveel pakketten zijn in totaal afgeleverd aa...,SELECT SUM(number_of_parcels) FROM delivery_fa...
4,255246-doc,documentation,None,De tabel 'delivery_preference' bevat informati...
5,210032-sql,sql,Hoeveel pakketten zijn er in totaal geleverd i...,SELECT SUM(number_of_parcels) FROM delivery_fa...
6,59866-ddl,ddl,None,CREATE TABLE delivery_preference (\n\taccount_...
7,59864-ddl,ddl,None,CREATE TABLE collo_packages (\n\tid INTEGER NO...
8,210029-sql,sql,Wat is het gemiddelde aantal pakketten per kla...,SELECT AVG(number_of_parcels) FROM delivery_fa...
9,255245-doc,documentation,None,De 'collo_packages' tabel bevat informatie ove...
10,210031-sql,sql,Welke maand had het hoogste aantal eerste bezo...,"SELECT month_id, SUM(parcels_home_1st) AS tota..."
11,59865-ddl,ddl,None,CREATE TABLE delivery_facts (\n\tid INTEGER NO...
12,210039-sql,sql,Wat is het aantal afgeleverde pakketten per ma...,"SELECT month_id, SUM(number_of_parcels) FROM d..."
13,210034-sql,sql,Hoeveel unieke klanten ontvingen pakketten in ...,SELECT COUNT(DISTINCT account_id_hashed) FROM ...
14,210037-sql,sql,Welke maand in 2023 had het laagste aantal pak...,"SELECT month_id, SUM(number_of_parcels) AS tot..."
15,210030-sql,sql,Hoeveel klanten hebben meer dan 5 pakketten on...,SELECT COUNT(DISTINCT account_id_hashed) FROM ...
16,210033-sql,sql,Wat is het percentage van de pakketten dat bij...,SELECT (SUM(parcels_home_1st) * 100.0 / SUM(nu...
17,210028-sql,sql,Hoeveel pakketten zijn er in totaal geleverd i...,SELECT SUM(number_of_parcels) FROM delivery_fa...
18,210040-sql,sql,Hoeveel pakketten werden er in totaal afgeleve...,SELECT SUM(number_of_parcels) FROM delivery_fa...

In [3]:
# some code to play around with
question = """
Hoe lang zit een pakket gemiddeld in het proces?
"""

sql_code = test_querier.generate_sql(question)
print(sql_code)

SELECT AVG(DATEDIFF(da_datum_eindstatus, da_datum_acceptatie)) AS gemiddelde_procestijd FROM collo_packages WHERE da_datum_eindstatus <> '9999-03-03' AND da_datum_acceptatie <> '9999-03-03';

In [ ]:
sample_data = test_querier.generate_sample_data(sql_query=sql_code)
sample_data