This notebook is for testing the application. Read the comments. You can play around with it. 

Make sure to have your api key and your model name configured in `services/config/personal_constants.py`

In [2]:
# importing the class from a different file
from services.querier.querier import DbQuerier

# instantiating the class
test_querier = DbQuerier(sample_db_loc='data/PostNL_SQLite.sqlite')

# do some configurations
test_querier.remove_all_training_data() # if there was any, now there is not
test_querier.train_model(train_on_documentation=True, 
                         train_on_ddl=True, 
                         train_on_sql=False, 
                         train_on_question_sql_pairs=True)

INFO:root:Training data removed
Adding documentation....
Adding documentation....
Adding documentation....
INFO:root:Trained model on documentation files
Adding ddl: CREATE TABLE collo_packages (
	id INTEGER NOT NULL,
	account_id_hashed VARCHAR,
	dn_barcode VARCHAR,
	da_datum_voormelding DATE,
	da_datum_acceptatie DATE,
	da_tijd_acceptatie TIME,
	sa_dag_sortering1 DATE,
	sa_datum_sortering1 DATE,
	sa_tijd_sortering1 TIME,
	sa_datum_distributiecollectie DATE,
	sa_tijd_distributiecollectie TIME,
	da_datum_herroutering_voor_up1 DATE,
	da_tijd_herroutering_voor_up1 TIME,
	da_datum_eindstatus DATE,
	da_tijd_eindstatus TIME,
	ma_gewicht INTEGER,
	ma_breedte INTEGER,
	ma_lengte INTEGER,
	ma_hoogte INTEGER,
	ma_volume INTEGER,
	"PC4_gea" INTEGER,
	da_landcode_gea VARCHAR,
	da_resultaatgroepcode VARCHAR,
	da_resultaatcode VARCHAR,
	da_type_adres_gea VARCHAR,
	da_waarnemingsequence VARCHAR,
	PRIMARY KEY (id),
	FOREIGN KEY(account_id_hashed) REFERENCES delivery_preference (account_id_hashed)
)
Adding ddl: CREATE TABLE delivery_facts (
	id INTEGER NOT NULL,
	account_id_hashed VARCHAR,
	month_id INTEGER,
	number_of_parcels INTEGER,
	parcels_home_1st INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(account_id_hashed) REFERENCES delivery_preference (account_id_hashed)
)
Adding ddl: CREATE TABLE delivery_preference (
	account_id_hashed VARCHAR NOT NULL,
	deliverypreference VARCHAR,
	datelastupdated DATETIME,
	datecreated DATETIME,
	PRIMARY KEY (account_id_hashed)
)
INFO:root:trained model on ddl
INFO:root:Trained on question-sql pairs.
INFO:root:training model on all types of data finished

In [3]:
# showing the training data that is in the model
test_querier.training_data

,id,training_data_type,question,content
0,73575-ddl,ddl,None,CREATE TABLE delivery_preference (\n\taccount_...
1,223276-sql,sql,Hoeveel pakketten werden ontvangen door klante...,SELECT COUNT(DISTINCT cp.id) AS total_packages...
2,73574-ddl,ddl,None,CREATE TABLE delivery_facts (\n\tid INTEGER NO...
3,387140-doc,documentation,None,De 'delivery_facts' tabel bevat geaggregeerde ...
4,387141-doc,documentation,None,De 'collo_packages' tabel bevat informatie ove...
5,223273-sql,sql,Hoeveel pakketten zijn in totaal afgeleverd aa...,SELECT SUM(number_of_parcels) FROM delivery_fa...
6,73573-ddl,ddl,None,CREATE TABLE collo_packages (\n\tid INTEGER NO...
7,223266-sql,sql,Welke maand had het hoogste aantal eerste bezo...,"SELECT month_id, SUM(parcels_home_1st) AS tota..."
8,223271-sql,sql,Hoeveel klanten hebben precies 3 pakketten in ...,SELECT COUNT(*) FROM delivery_facts WHERE numb...
9,223265-sql,sql,Hoeveel klanten hebben meer dan 5 pakketten on...,SELECT COUNT(DISTINCT account_id_hashed) FROM ...
10,387142-doc,documentation,None,De tabel 'delivery_preference' bevat informati...
11,223269-sql,sql,Hoeveel unieke klanten ontvingen pakketten in ...,SELECT COUNT(DISTINCT account_id_hashed) FROM ...
12,223264-sql,sql,Wat is het gemiddelde aantal pakketten per kla...,SELECT AVG(number_of_parcels) FROM delivery_fa...
13,223277-sql,sql,Hoeveel pakketten heeft elke klant ontvangen?,"SELECT account_id_hashed, count(*) as total_pa..."
14,223272-sql,sql,Welke maand in 2023 had het laagste aantal pak...,"SELECT month_id, SUM(number_of_parcels) AS tot..."
15,223268-sql,sql,Wat is het percentage van de pakketten dat bij...,SELECT (SUM(parcels_home_1st) * 100.0 / SUM(nu...
16,223267-sql,sql,Hoeveel pakketten zijn er in totaal geleverd i...,SELECT SUM(number_of_parcels) FROM delivery_fa...
17,223278-sql,sql,Welk percentage pakketten werden bezorgd tijde...,SELECT (SUM(parcels_home_1st) * 100.0 / SUM(nu...
18,223263-sql,sql,Hoeveel pakketten zijn er in totaal geleverd i...,SELECT SUM(number_of_parcels) FROM delivery_fa...
19,223275-sql,sql,Hoeveel pakketten werden er in totaal afgeleve...,SELECT SUM(number_of_parcels) FROM delivery_fa...
20,223274-sql,sql,Wat is het aantal afgeleverde pakketten per ma...,"SELECT month_id, SUM(number_of_parcels) FROM d..."
21,223270-sql,sql,Wat is het gemiddelde aantal pakketten per kla...,SELECT AVG(number_of_parcels) FROM delivery_fa...

In [4]:
# some code to play around with
question = """
Welke pakketen liggen klaar om opgehaald te worden door de klant?
"""

sql_code = test_querier.generate_sql(question)
print(sql_code)

SELECT id, dn_barcode FROM collo_packages WHERE da_resultaatgroepcode = '04-Retour' AND da_resultaatcode = '04-Uitgereikt via afhaalkantoor';

In [6]:
sample_data = test_querier.generate_sample_data(sql_query=sql_code)
sample_data

Empty DataFrame
Columns: [id, dn_barcode]
Index: []

In [18]:
sample_table = test_querier.generate_sample_data(sql_query="SELECT month_id, SUM(parcels_home_1st) AS total_first_attempts FROM delivery_facts WHERE month_id LIKE '2023%' GROUP BY month_id ORDER BY total_first_attempts DESC LIMIT 2")

In [19]:
sample_table

   month_id  total_first_attempts
0    202311                218316
1    202312                202361

In [33]:
for row in sample_table.iterrows():
    print(row[1].keys())

Index(['month_id', 'total_first_attempts'], dtype='object')
Index(['month_id', 'total_first_attempts'], dtype='object')

# Making the documentation JSON

In [48]:
dirname = "/Users/mehdigreefhorst/Desktop/data-consultancy-post/services/querier/training-data/documentation"
import os
documenation_files = []
for documenation_file in os.listdir(dirname):
    with open(os.path.join(dirname, documenation_file)) as f:
        documenation_files.append(f.read().split("\n\n"))

documenation_dict = {}
for documenation in documenation_files:
    documenation_dict[documenation[0]] = {}
    for line in documenation:
        if ":" in line:
            key_value = line.split(":")
            documenation_dict[documenation[0]][key_value[0]]=key_value[1]
        else:
            documenation_dict[documenation[0]]["table"] = line

documenation_dict

{"De 'delivery_facts' tabel bevat geaggregeerde informatie over het aantal pakketen dat elke klant ooit heeft ontvangen.": {'table': "De 'delivery_facts' tabel bevat geaggregeerde informatie over het aantal pakketen dat elke klant ooit heeft ontvangen.",
  'account_id_hashed': " Deze kolom bevat een unieke identificatiecode voor elk klantaccount. De waarden in deze kolom zijn niet uniek binnen deze tabel, aangezien er meerdere records kunnen zijn voor dezelfde klant. Deze kolom dient als vreemde sleutel die verwijst naar de primaire sleutel in de 'delivery_preference' tabel.",
  'month_id': " Dit veld bevat de maand en het jaar waarin één of meerdere pakketten aan de klant zijn geleverd, opgeslagen in het formaat 'yyyymm'. Bijvoorbeeld, '202312' staat voor december 2023.",
  'number_of_parcels': ' Deze kolom geeft het totale aantal pakketten aan dat aan de klant is geleverd. Het omvat alle pakketten ongeacht de leveringsmethode of het aantal pogingen.',
  'parcels_home_1st': ' Dit veld geeft het aantal pakketten aan dat succesvol bij de eerste bezorgpoging aan huis is afgeleverd. Het sluit pakketten uit die zijn afgehaald bij afhaalpunten of die bij latere bezorgpogingen zijn afgeleverd.'},
 "De 'collo_packages' tabel bevat informatie over pakketten zijn gelevered, of nog moeten worden geleverd door PostNL. De tabel bevat informatie over de jaren 2023 en 2024. Alle datums en tijdstempels zijn opgeslagen in het volgende formaat: 11/08/2023 en 19:22:02. Wanneer een een datumkolom leeg is (NULL) is de volgende waarden ingegeven: 9999-03-03 en de tijdstempelkolom zal dan leeg zijn. Als dit het geval is, dan heeft de processtap die de kolommen vertegenwoordigen nog niet plaatsgevonden.": {"De 'collo_packages' tabel bevat informatie over pakketten zijn gelevered, of nog moeten worden geleverd door PostNL. De tabel bevat informatie over de jaren 2023 en 2024. Alle datums en tijdstempels zijn opgeslagen in het volgende formaat": ' 11/08/2023 en 19',
  'account_id_hashed': " Dit veld bevat een identifier voor de klant of het account waaraan het pakket wordt geleverd. De waarden zijn niet uniek voor deze tabel en kunnen duplicaten bevatten. Dit veld fungeert als een vreemde sleutel die verwijst naar de primaire sleutel van de 'delivery_preference' tabel. Het kan leeg zijn voor pakketten die niet aan een specifiek account zijn gekoppeld.",
  'dn_barcode': ' Deze kolom bevat unieke identificatiecodes voor elk pakket. Hoewel de meeste waarden uniek zijn, kunnen er enkele duplicaten voorkomen.',
  'da_datum_voormelding': ' Bevat de datum waarop de bestelling oorspronkelijk is geplaatst.',
  'da_datum_acceptatie': " Geeft de datum aan waarop het pakket voor het eerst door PostNL is ontvangen. Als een datumkolom leeg is, wordt de waarde '9999-03-03' gebruikt. Dit betekend dat het pakket nog niet door PostNL is ontvangen maar al wel is aangemeld.",
  'da_tijd_acceptatie': "\tBevat de tijdstempel voor het moment waarop het pakket voor het eerst door PostNL is ontvangen. Als deze informatie niet beschikbaar is, wordt 'Nvt' weergegeven. Dit betekend dat het pakket nog niet door PostNL is ontvangen maar al wel is aangemeld.",
  'sa_dag_sortering1': ' Deze kolom bevat de datum waarop het proces in het sorteercentrum voor het eerst is gestart.',
  'sa_datum_sortering1': ' Indien het sorteercentrumproces doorgaat na middernacht, bevat deze kolom de datum van de volgende dag.',
  'sa_tijd_sortering1': ' Bevat een tijdstempel wanneer een pakket in een sorteercentrum is gesorteerd.',
  'sa_datum_distributiecollectie': ' Bevat de tijdstempel van wanneer het pakket voor het eerst in het sorteercentrum is gesorteerd.',
  'sa_tijd_distributiecollectie': ' Geeft de tijdstempel aan van het moment waarop het pakket het distributiecentrum bereikt.',
  'da_datum_herroutering_voor_up1': '\tDeze kolom bevat de datum waarop het pakket is omgeleid, meestal vanwege een mislukte eerste afleverpoging.',
  'da_tijd_herroutering_voor_up1': ' Bevat de tijdstempel van wanneer het pakket is omgeleid.',
  'da_datum_eindstatus': " Geeft de datum aan waarop het pakket uiteindelijk door de klant is ontvangen. Wanneer het pakket nog door de klant is ontvangen bevat de kolom de waarde '9999-03-03'.",
  'da_tijd_eindstatus': '\tBevat de tijdstempel voor het moment waarop het pakket door de klant is ontvangen.',
  'ma_gewicht, ma_breedte, ma_lengte, ma_hoogte, ma_volume': ' Deze velden bevatten respectievelijk het gewicht, de breedte, lengte, hoogte en het volume van een pakket. Alle waarden zijn gehele getallen. Deze velden kunnen optioneel leeg zijn.',
  'PC4_gea': ' Bevat de eerste vier cijfers van de postcode van de klant. Dit zijn de cijfers voorafgaand aan de twee letters in een typische Nederlandse postcode.',
  'da_landcode_gea': " Geeft de landcode van de klant aan. Voor deze dataset bevat het enkel 'NL' voor Nederland.",
  'da_resultaatgroepcode': ' Bevat de uiteindelijke status van de levering. Mogelijke opties zijn',
  'da_resultaatcode': ' Bevat de uiteindelijke status van het pakket. Mogelijke opties zijn',
  'da_type_adres_gea': ' Bevat informatie over of het adres privé, particulier of gemengd is.',
  'da_waarnemingsequence': ' Het proces pad van een pakket van begin tot eind. Bevat een reeks interne codes die elk een status voorstellen in process.'},
 "De tabel 'delivery_preference' bevat informatie over hoe de klant zijn pakket bij voorkeur geleverd krijgt. In deze tabel staan alleen klanten die een account hebben aangemaakt.": {'table': "De tabel 'delivery_preference' bevat informatie over hoe de klant zijn pakket bij voorkeur geleverd krijgt. In deze tabel staan alleen klanten die een account hebben aangemaakt.",
  'account_id_hashed': ' Een unieke waarde voor elke klant/account die geregistreerd is in het systeem. In dit tabel bevat deze kolom geen duplicaten, waardoor deze kolom de primaire sleutel van deze tabel is.',
  'deliverypreference': ' "Dit veld geeft de voorkeur van de klant aan voor de wijze van pakketlevering. De mogelijke waarden omvatten \'Originele afleverlocatie\' (OriginalDeliveryLocation), \'Pakketkluis\' (ParcelLocker), \'Openbare pakketkluis\' (PublicParcelLocker), \'Winkellocatie\' (RetailLocation), en \'Geen\' (None). Als dit veld leeg is, betekent dit dat de klant geen voorkeur heeft opgegeven."',
  'datelastupdated': ' "Dit veld registreert de datum en tijd waarop de leveringsvoorkeur van de klant voor het laatst is bijgewerkt. Het formaat van de datum en tijd is bijvoorbeeld \'29/11/2023 15',
  'datecreated': ' "Dit veld bevat de datum en tijd waarop de record in deze tabel oorspronkelijk is aangemaakt. Het gebruikt hetzelfde datum- en tijdformaat als \'datelastupdated\', bijvoorbeeld \'29/11/2023 15'}}

In [51]:
import json
with open("services/querier/training-data/documentation/documentation_table.json", "w") as f:
    json.dump(documenation_dict, f, indent=4)

In [2]:
from services.querier.querier import DbQuerier
test_querier = DbQuerier(sample_db_loc='data/PostNL_SQLite.sqlite')
test_querier.get_descriptions_for_given_columns(["month_id", "parcels_home_1st"])

{'month_id': " Dit veld bevat de maand en het jaar waarin één of meerdere pakketten aan de klant zijn geleverd, opgeslagen in het formaat 'yyyymm'. Bijvoorbeeld, '202312' staat voor december 2023.",
 'Retrieved from table: delivery_facts': "De 'delivery_facts' tabel bevat geaggregeerde informatie over het aantal pakketen dat elke klant ooit heeft ontvangen.",
 'parcels_home_1st': ' Dit veld geeft het aantal pakketten aan dat succesvol bij de eerste bezorgpoging aan huis is afgeleverd. Het sluit pakketten uit die zijn afgehaald bij afhaalpunten of die bij latere bezorgpogingen zijn afgeleverd.'}